{% extends 'reading_log/base.html' %}

{% block content %}

    <p>Book: {{ book.text }}</p>

<p>Reviews: </p>
    <p>
        <a href="{% url 'reading_log:new_review' book.id %}">Add a new review</a>
    </p>

    <ul>
        {% for review in reviews %}
            <li>
                <p>{{ review.date_added|date:'M d, Y H:i' }}</p>
                <p>{{ review.text|linebreaks }}</p>
                <p><a href="{% url 'reading_log:edit_review' review.id %}">Edit review</a></p>
            </li>
        {% empty %}
        <li>There are no reviews for this book yet.</li>
        {% endfor %}
    </ul>

{% endblock content %}